.jumbotron {
  width: 50%;
  float: left;
  display: inline-block;
  margin-left: 50px;
  background-color: white;
  h1 {
    color: #0cd977;
    font-weight: bolder;
  }
  .lead {
    color:#001632;
    font-weight: bold;
  }
  p{
    color: #001632
  }
  button{
    color: #0cd977;
    border-color: #0cd977;
    &:hover {
      background-color: #0cd977;
    }
  }

}

.titolo-studenti {
  margin-top: 80px;
  h2{
    font-size: 45px;
    font-weight: bolder;
    color: #006cfa;
  }
  h4{
    color: #001632;
    font-weight: bold;
  }
}

.card-group {
  margin-top: 80px;
  .card-img-top {
    width:200px;
    height: 200px;
  }
  .card-title {
    color: #0cd977;

  }
  .card-text {
    color: #001632;
    font-weight: bold;
  }
  .descrizione {
    font-weight: normal;
  }
}
